<h1>Usuarios</h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre Completo</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>avatar</td>
                    <td>Jose Olivares</td>
                    <td>joseo@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
